###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.sh	text eol=lf
*.yaml  text eol=lf
go.mod  text eol=lf
go.sum  text eol=lf